[core]
	editor = vim
	autocrlf = input
[user]
	email = ixahedron@users.noreply.github.com
	name = Ilona
[push]
	default = simple
[alias]
  uncommit = reset HEAD^
	unamend = reset --soft HEAD@{1}
[rebase]
	autosquash = true
[includeIf "gitdir:~/dev/serokell/"]
  path = ~/.gitconfig-serokell
